{
  "openapi": "3.1.0",
  "info": {
    "title": "CallCow Workflow API",
    "description": "API to trigger AI phone call workflows",
    "license": { "name": "MIT" },
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://www.callcow.ai/api" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/call": {
      "post": {
        "summary": "Trigger AI Phone Call",
        "description": "Initiates an AI phone call workflow to the specified recipient. Requires an API key for authentication.",
        "operationId": "triggerCall",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call successfully triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerCallSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed or invalid phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — workflow belongs to a different organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (60 requests/minute per organization)",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets",
                "schema": { "type": "integer" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to initiate call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call-prompt": {
      "post": {
        "summary": "Call with Prompt",
        "description": "Create and trigger an AI phone call from a natural language prompt. Generates a workflow, initiates the call, and optionally delivers results to a callback URL.",
        "operationId": "callWithPrompt",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call successfully created and triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallPromptSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (invalid phone, SSRF callback URL, missing prompt)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Workflow already used (single-use enforcement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Workflow expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Could not generate workflow from prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (60 requests/minute per organization)",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets",
                "schema": { "type": "integer" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to initiate call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "summary": "List Workflows",
        "description": "Returns all non-deleted workflows for the authenticated organization.",
        "operationId": "listWorkflows",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of workflows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkflowsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets",
                "schema": { "type": "integer" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key generated from Settings → API Keys. Format: `ck_live_...`"
      }
    },
    "schemas": {
      "TriggerCallRequest": {
        "type": "object",
        "required": ["recipient_phone", "workflow_id"],
        "properties": {
          "recipient_name": {
            "type": "string",
            "description": "Name of the call recipient",
            "example": "John Doe"
          },
          "recipient_email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the call recipient. Recommended for meeting booking calls.",
            "example": "john@example.com"
          },
          "recipient_phone": {
            "type": "string",
            "description": "Phone number of the call recipient in E.164 format",
            "example": "+14155552671"
          },
          "recipient_context": {
            "type": "string",
            "description": "Additional context to provide to the AI agent during the call",
            "example": "Customer interested in premium plan"
          },
          "workflow_id": {
            "type": "string",
            "description": "ID of the workflow to execute. Get workflow IDs from the List Workflows endpoint or your dashboard.",
            "example": "wf_abc123xyz"
          },
          "idempotency_key": {
            "type": "string",
            "description": "Optional unique key to prevent duplicate calls on retries. Scoped to your organization with a 5-minute TTL.",
            "example": "order-12345-call"
          }
        }
      },
      "TriggerCallSuccess": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Thanks! Our AI agent will call you shortly."
          }
        }
      },
      "ListWorkflowsResponse": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Workflow ID",
                  "example": "b8f40b44-3b7a-425b-a2ae-1327471b0410"
                },
                "name": {
                  "type": "string",
                  "description": "Workflow name",
                  "example": "Customer Support Workflow"
                }
              }
            }
          }
        }
      },
      "CallPromptRequest": {
        "type": "object",
        "required": ["prompt", "recipient_phone"],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Natural language description of the call task. The system generates an AI workflow from this prompt.",
            "example": "Book a reservation at Friday 7pm for Josh for 2"
          },
          "recipient_phone": {
            "type": "string",
            "description": "Phone number of the call recipient in E.164 format",
            "example": "+14155552671"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL to receive call results when the call completes or fails. Must not point to private/reserved IP ranges.",
            "example": "https://agent.example.com/results"
          },
          "callback_secret": {
            "type": "string",
            "description": "Optional bearer token included in the Authorization header of callback requests",
            "example": "my-secret-token"
          },
          "idempotency_key": {
            "type": "string",
            "description": "Optional unique key to prevent duplicate calls on retries. Scoped to your organization with a 5-minute TTL.",
            "example": "agent-task-12345"
          }
        }
      },
      "CallPromptSuccess": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "workflow_id": {
            "type": "string",
            "description": "ID of the generated workflow",
            "example": "b8f40b44-3b7a-425b-a2ae-1327471b0410"
          },
          "call_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the initiated call, if available",
            "example": "c9e50c55-4c8b-536c-b3bf-2438582c1521"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "description": "Zod validation error details"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
