{
  "openapi": "3.1.0",
  "info": {
    "title": "CallCow Workflow API",
    "description": "API to trigger AI phone call workflows",
    "license": { "name": "MIT" },
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://www.callcow.ai/api" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/call": {
      "post": {
        "summary": "Trigger AI Phone Call",
        "description": "Initiates an AI phone call workflow to the specified recipient",
        "operationId": "triggerCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call successfully triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerCallSuccess"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Phone number service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "TriggerCallRequest": {
        "type": "object",
        "required": ["recipient_phone", "workflow_id"],
        "properties": {
          "recipient_name": {
            "type": "string",
            "description": "Name of the call recipient",
            "example": "John Doe"
          },
          "recipient_email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the call recipient.  Email is recommended for meeting booking calls.",
            "example": "john@example.com"
          },
          "recipient_phone": {
            "type": "string",
            "description": "Phone number of the call recipient in E.164 format",
            "example": "+14155552671"
          },
          "workflow_id": {
            "type": "string",
            "description": "ID of the workflow to execute",
            "example": "wf_abc123xyz"
          }
        }
      },
      "TriggerCallSuccess": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Thanks! Our AI agent will call you shortly."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "success": {
            "type": "boolean",
            "example": false
          }
        }
      }
    }
  }
}
